<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Tenaga Pendidik</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dist/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <!-- <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-1 h2">Navbar</span>
      </nav> -->

      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Logo</a>
      <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
      <h1 class="text-white">SLB ABC MUHAMMADIYAH</h1>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="index.html">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>

              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Tabel</span>
              </h6>
              <li class="nav-item">
                <a class="nav-link" href="tenaga_pendidik.html">
                  <span data-feather="file-text"></span>
                  Tenaga Pendidik
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="peserta_didik.html">
                  <span data-feather="file-text"></span>
                  Peserta Didik
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="mata_pelajaran.html">
                  <span data-feather="file-text"></span>
                  Mata Pelajaran
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="kelas.html">
                  <span data-feather="file-text"></span>
                  Kelas
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="nilai.html">
                  <span data-feather="file-text"></span>
                  Nilai
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Laporan</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Nilai
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Kelola Akun</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="profile.html">
                  <span data-feather="file-text"></span>
                  Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Ganti Password
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Tenaga Pendidik</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <a href="form_tambah_tenaga_pendidik.html" class="btn btn-secondary">Tambah Tenaga Pendidik</a>
            </div>
          </div>


          <div class="table-responsive">

            <table class="table table-hover table-inverse">
              <thead class="table-secondary">
                <tr>
                  <th>NIP</th>
                  <th>Nama</th>
                  <th>Tempat Lahir</th>
                  <th>Tanggal Lahir</th>
                  <th>JK</th>
                  <th>Agama</th>
                  <th>Jabatan</th>
                  <th>TMT Sekolah</th>
                  <th>TMT PNS</th>
                  <th>Alamat</th>
                  <th>Telepon</th>
                  <th>Tugas Tambahan</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>
                    <a href="form_edit_tenaga_pendidik.html">
                      edit
                    </a>
                    <a href="#">hapus</a>
                  </td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>
                    <a href="form_edit_tenaga_pendidik.html">
                      edit
                    </a>
                    <a href="#">hapus</a>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>


  </body>
</html>
